.ratingContainer {
  text-align: center;
}

.rating {
  display: inline-block;
  font-size: var(--size);
  --percent: calc(var(--rating) / 5 * 100%);
}

.rating::before {
  content: "★★★★★";
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ratingText {
  font-size: .75rem;
  font-weight: bold;
}